<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bugeiDialogUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,34}}</string>
                <key>sourceSize</key>
                <string>{434,34}</string>
            </dict>
            <key>bugeiEnermy (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{148,173}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{148,173}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>bugeiEnermy (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{219,422},{144,169}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{144,169}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>bugeiEnermy (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{223,276},{144,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,190}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>bugeiHonor (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{389,589},{52,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,81}}</string>
                <key>sourceSize</key>
                <string>{52,81}</string>
            </dict>
            <key>bugeiHonor (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,133},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>bugeiHonor (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{389,643},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>bugeiInsturction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{222,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,115}}</string>
                <key>sourceSize</key>
                <string>{222,115}</string>
            </dict>
            <key>bugeiIron (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,517},{92,70}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{92,70}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>bugeiIron (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,431},{96,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>bugeiIron (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{416,260},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>bugeiOil (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,76},{55,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{55,78}}</string>
                <key>sourceSize</key>
                <string>{71,92}</string>
            </dict>
            <key>bugeiOil (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{416,187},{71,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,93}}</string>
                <key>sourceSize</key>
                <string>{71,93}</string>
            </dict>
            <key>bugeiOil (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{415,358},{71,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,92}}</string>
                <key>sourceSize</key>
                <string>{71,92}</string>
            </dict>
            <key>bugeiQiandai.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,697},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>bugeiReturnBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bugeiReturnBaseP.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,698},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bugeiTopButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bugeiTopButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bugeiTopDefen.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,517},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>bugeiTopDivideLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{427,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,4}}</string>
                <key>sourceSize</key>
                <string>{427,4}</string>
            </dict>
            <key>bugeiTopIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{218,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,121}}</string>
                <key>sourceSize</key>
                <string>{218,121}</string>
            </dict>
            <key>bugeiTopMingci.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,650},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>bugeiTopWanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,568},{80,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,27}}</string>
                <key>sourceSize</key>
                <string>{80,27}</string>
            </dict>
            <key>bugeiTotal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{219,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,117}}</string>
                <key>sourceSize</key>
                <string>{219,117}</string>
            </dict>
            <key>bugeiZhuangshiGun.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,168},{191,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,106}}</string>
                <key>sourceSize</key>
                <string>{191,106}</string>
            </dict>
            <key>bugeiZhuangshiOil.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,568},{139,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,128}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>bugeijin (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeijin (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{210,820},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeijin (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{137,553},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeijin (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{211,760},{58,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeijin (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{285,818},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeijin (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{359,769},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeitong (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{137,699},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeitong (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{163,625},{54,72}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeitong (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{471,658},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeitong (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{470,732},{40,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeitong (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{177,551},{40,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeitong (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{285,760},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeiyin (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeiyin (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{177,477},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeiyin (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{484,584},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeiyin (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{76,739},{58,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeiyin (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{177,403},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bugeiyin (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,773},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>startBugeiButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,106},{204,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,60}}</string>
                <key>sourceSize</key>
                <string>{204,60}</string>
            </dict>
            <key>startBugeiButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,44},{204,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,60}}</string>
                <key>sourceSize</key>
                <string>{204,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bugei.pvr.ccz</string>
            <key>size</key>
            <string>{512,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7912881f2eb253c1d77c1db1177a6986$</string>
            <key>textureFileName</key>
            <string>bugei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
