<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buildstruct2x2(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{323,350},{120,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,88}}</string>
                <key>sourceSize</key>
                <string>{120,88}</string>
            </dict>
            <key>buildstruct3x3(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{172,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{172,116}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>buildstruct4x4(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{336,120},{228,154}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{228,154}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>road3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,231},{206,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,138}}</string>
                <key>sourceSize</key>
                <string>{206,138}</string>
            </dict>
            <key>road4x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{270,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,179}}</string>
                <key>sourceSize</key>
                <string>{270,179}</string>
            </dict>
            <key>road5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,227}}</string>
                <key>sourceSize</key>
                <string>{332,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildstruct.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e360ea3dd4bdad195cdf394e7926e6$</string>
            <key>textureFileName</key>
            <string>buildstruct.pvr.ccz</string>
        </dict>
    </dict>
</plist>
