<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collapse (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{211,138}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{211,138}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{257,590},{253,178}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{253,178}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{253,188}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,188}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{257,394},{253,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,194}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{253,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,194}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{257,198},{253,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,194}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{253,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,194}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{253,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,194}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,194}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
            <key>collapse (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{257,770},{187,126}}</string>
                <key>offset</key>
                <string>{21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{187,126}}</string>
                <key>sourceSize</key>
                <string>{253,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>collapse.pvr.ccz</string>
            <key>size</key>
            <string>{512,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df586f9bf3ea00aefdc37312bbd20773$</string>
            <key>textureFileName</key>
            <string>collapse.pvr.ccz</string>
        </dict>
    </dict>
</plist>
