<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defendLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{182,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,44}}</string>
                <key>sourceSize</key>
                <string>{182,44}</string>
            </dict>
            <key>enemyConcentricPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,160},{90,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,114}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>prizeBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{144,117}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,69},{144,117}}</string>
                <key>sourceSize</key>
                <string>{150,217}</string>
            </dict>
            <key>prizeBoxClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,34},{124,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,77},{124,59}}</string>
                <key>sourceSize</key>
                <string>{150,217}</string>
            </dict>
            <key>prizeBoxOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{136,85}}</string>
                <key>offset</key>
                <string>{1,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,85}}</string>
                <key>sourceSize</key>
                <string>{150,217}</string>
            </dict>
            <key>tipWarningLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,30}}</string>
                <key>sourceSize</key>
                <string>{248,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defend.pvr.ccz</string>
            <key>size</key>
            <string>{252,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95a8acf5e7526bf749ca1a2e4199e001$</string>
            <key>textureFileName</key>
            <string>defend.pvr.ccz</string>
        </dict>
    </dict>
</plist>
