<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HummingBirddd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,513},{52,100}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirddl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,440},{140,60}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,38},{140,60}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirddld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{110,80}}</string>
                <key>offset</key>
                <string>{17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,15},{110,80}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirddlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,566},{110,72}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,37},{110,72}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirddr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,502},{138,62}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{138,62}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirddrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,327},{110,80}}</string>
                <key>offset</key>
                <string>{-17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{110,80}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirddru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,513},{110,72}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{110,72}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirddu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,567},{52,90}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{52,90}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,513},{52,100}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,440},{140,60}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,38},{140,60}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{110,80}}</string>
                <key>offset</key>
                <string>{17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,15},{110,80}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,566},{110,72}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,37},{110,72}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,502},{138,62}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{138,62}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,327},{110,80}}</string>
                <key>offset</key>
                <string>{-17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{110,80}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,513},{110,72}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{110,72}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,567},{52,90}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{52,90}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdmd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,513},{52,100}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,440},{140,60}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,38},{140,60}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdmld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{110,80}}</string>
                <key>offset</key>
                <string>{17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,15},{110,80}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdmlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,566},{110,72}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,37},{110,72}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdmr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,502},{138,62}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{138,62}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdmrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,327},{110,80}}</string>
                <key>offset</key>
                <string>{-17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{110,80}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdmru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,513},{110,72}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{110,72}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdmu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,567},{52,90}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{52,90}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>HummingBirdshadow (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{112,53}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{112,53}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>airboom (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,243},{110,82}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{110,82}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,409},{140,102}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{140,102}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,342},{148,96}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{148,96}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{146,106}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{146,106}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{174,120}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{174,120}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{188,180},{184,160}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{184,160}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,176}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{184,176}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,182}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{184,182}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>airboom (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>propeller (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{184,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,127}}</string>
                <key>sourceSize</key>
                <string>{184,127}</string>
            </dict>
            <key>propeller (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,127}}</string>
                <key>sourceSize</key>
                <string>{184,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HummingBird.pvr.ccz</string>
            <key>size</key>
            <string>{505,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ae8706850ef372cccdf57a1560c45e0$</string>
            <key>textureFileName</key>
            <string>HummingBird.pvr.ccz</string>
        </dict>
    </dict>
</plist>
