<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bugeiButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>defendButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>ghostButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong.pvr.ccz</string>
            <key>size</key>
            <string>{84,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf3ec03de3f340e062bd43d25d3172b4$</string>
            <key>textureFileName</key>
            <string>huodong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
