<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Infanteriedd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{55,43}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{55,43}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriedl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{59,41}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{59,41}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriedld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{130,45},{45,45}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{45,45}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriedlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{61,41}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{61,41}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriedr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,137},{57,49}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{57,49}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriedrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,37}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{67,37}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriedru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,296},{55,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriedu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{197,92},{53,47}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{53,47}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriefd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{47,49}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{47,49}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriefl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{61,39}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{61,39}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriefld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{183,141},{53,49}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{53,49}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanterieflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{59,45}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{59,45}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriefr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{65,51}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{65,51}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriefrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{65,43},{63,43}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{63,43}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriefru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{197,243},{53,55}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriefu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{63,88},{45,49}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{45,49}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{55,55}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{55,55}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{185,298},{57,55}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{57,55}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanterieml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{177,47},{69,43}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{69,43}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanterieml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{53,137},{69,45}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{69,45}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{87,188},{59,49}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{59,49}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{69,239},{61,51}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{61,51}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{63,55}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{63,55}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{67,347},{63,57}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{63,57}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{195,355},{73,59}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,59}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{75,59}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,59}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,92},{81,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{81,43}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{83,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{83,45}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{126,355},{57,67}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{59,292},{53,67}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,243},{51,63}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{51,63}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>Infanteriemu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{148,192},{49,65}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{49,65}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Infanterie.pvr.ccz</string>
            <key>size</key>
            <string>{256,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e87f2f012859d4abbe2c689a62aaa3ec$</string>
            <key>textureFileName</key>
            <string>Infanterie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
