<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M4Shermandd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{451,553},{59,80}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{59,80}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermandl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,364},{95,54}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{95,54}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermandld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{107,188},{101,72}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{101,72}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermandlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{91,68}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{91,68}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermandr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{337,114},{95,62}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{95,62}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermandrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{103,388},{93,86}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{93,86}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermandru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{103,314},{99,72}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{99,72}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermandu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{91,599},{59,72}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,16},{59,72}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{165,623},{41,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{41,64}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{263,591},{41,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,28},{41,64}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{41,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,28},{41,64}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{103,50}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{103,50}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfl (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{103,50}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{103,50}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfl (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{105,262},{101,50}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{101,50}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{87,66}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{87,66}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{362,533},{87,66}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{87,66}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{273,523},{87,66}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{87,66}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,387},{87,76}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{87,76}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanflu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{95,476},{87,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{87,78}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanflu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{301,373},{87,80}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{87,80}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{117,134},{103,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{103,52}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{400,290},{103,52}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{103,52}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{210,212},{101,52}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{101,52}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{376,465},{87,66}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{87,66}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,500},{87,66}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{87,66}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{287,455},{87,66}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{87,66}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{87,76}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{87,76}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{198,420},{87,78}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{87,78}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{309,291},{87,80}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{87,80}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{91,556},{41,86}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{41,86}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{465,465},{41,86}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{41,86}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanfu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,344},{41,90}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{41,90}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{337,211},{61,78}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{61,78}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{179,568},{53,82}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{53,82}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,58}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{131,58}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,60},{121,52}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{121,52}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{113,72}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{113,72}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{117,62},{113,70}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{113,70}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{401,116},{103,96}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{103,96}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,114},{103,96}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{103,96}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{131,58}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{131,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{400,214},{103,74}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{103,74}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{101,68}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{101,68}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{208,266},{99,96}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{99,96}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{99,96}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{99,96}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{401,59},{55,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{55,108}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
            <key>M4Shermanmu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{55,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{55,108}}</string>
                <key>sourceSize</key>
                <string>{131,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>M4Sherman.pvr.ccz</string>
            <key>size</key>
            <string>{512,667}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f0b95ca0e23b343e7623175b1345fbf$</string>
            <key>textureFileName</key>
            <string>M4Sherman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
