<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancelRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,455},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cancelRecordP.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,455},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dividingline.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{676,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,42}}</string>
                <key>sourceSize</key>
                <string>{676,42}</string>
            </dict>
            <key>dividingline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{440,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,7}}</string>
                <key>sourceSize</key>
                <string>{440,7}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>nextPageButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>nextPageButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,417},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>prePageButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>prePageButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>recordButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{65,173}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,173}}</string>
                <key>sourceSize</key>
                <string>{69,189}</string>
            </dict>
            <key>recordButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{67,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,189}}</string>
                <key>sourceSize</key>
                <string>{69,189}</string>
            </dict>
            <key>revenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,318},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>revengeButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>topButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{65,173}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,173}}</string>
                <key>sourceSize</key>
                <string>{69,189}</string>
            </dict>
            <key>topButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,189}}</string>
                <key>sourceSize</key>
                <string>{69,189}</string>
            </dict>
            <key>underline.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{331,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,2}}</string>
                <key>sourceSize</key>
                <string>{331,2}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,274},{141,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,41}}</string>
                <key>sourceSize</key>
                <string>{141,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recordui.pvr.ccz</string>
            <key>size</key>
            <string>{250,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44582ad36e7b3f8fb6f9fdc1447a2031$</string>
            <key>textureFileName</key>
            <string>recordui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
