<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievementIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,75},{62,71}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{62,71}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>armyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,142},{52,73}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{52,73}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>battleIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,136}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>campaignIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,316},{52,71}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{52,71}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>createIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,139},{62,69}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{62,69}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>diplomacyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,316},{54,73}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{54,73}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>logoutIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,248},{62,69}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{62,69}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>mainMenuBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>mainMenuShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{92,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,5}}</string>
                <key>sourceSize</key>
                <string>{92,5}</string>
            </dict>
            <key>mainMenuTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,202},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>newRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>recordIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,202},{44,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{44,75}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>showIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{54,71}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,71}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>unionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,75}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>vipArcheiveIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,370},{66,65}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{66,65}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>vipBoost.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,248},{66,71}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{66,71}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>vipConversion.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{66,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,71}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>vipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,391},{62,71}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{62,71}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>vipShopIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,142},{58,77}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>vipUpdateIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,438},{66,63}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{66,63}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startSceneIcon.pvr.ccz</string>
            <key>size</key>
            <string>{250,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:452ab0b239d84e5878eaf90af5d88d9f$</string>
            <key>textureFileName</key>
            <string>startSceneIcon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
