<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornadodd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{802,110},{138,114}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{138,114}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadodl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{164,104}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{164,104}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadodld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{102,110},{152,108}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{152,108}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadodlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{140,114}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{140,114}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadodr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,96}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{162,96}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadodrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,104}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,34},{140,104}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadodru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{152,102}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,26},{152,102}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadodu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,110},{138,110}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{138,110}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadof (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{244,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,176}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadof (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{718,486},{244,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,176}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadof (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{494,664},{240,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,178}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadof (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,664},{244,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,178}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadof (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{736,664},{228,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{228,178}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{98,106}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,52},{98,106}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{106,98}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{106,98}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{110,104}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{110,104}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{614,110},{104,114}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{104,114}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadoml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{642,352},{104,130}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,37},{104,130}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadoml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,352},{78,126}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,36},{78,126}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadoml (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{542,352},{98,128}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,128}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadoml (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{102,486},{76,132}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,37},{76,132}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{554,226},{90,120}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,40},{90,120}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{98,108}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,42},{98,108}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,110},{116,110}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,45},{116,110}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomld (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{352,226},{96,116}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,42},{96,116}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{294,352},{120,126}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,37},{120,126}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{506,486},{104,140}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,34},{104,140}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomlu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{98,132}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,37},{98,132}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomlu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{748,352},{106,130}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,35},{106,130}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,226},{110,116}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{110,116}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{296,486},{84,136}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,37},{84,136}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{646,226},{120,122}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{120,122}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomr (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{720,110},{80,114}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,36},{80,114}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{870,226},{114,124}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{114,124}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{100,126}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{100,126}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,226},{94,116}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,43},{94,116}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomrd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{514,110},{98,112}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{98,112}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{104,352},{108,126}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,37},{108,126}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{180,486},{114,134}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,35},{114,134}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{416,352},{124,128}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,37},{124,128}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomru (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{768,226},{100,124}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,35},{100,124}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{856,352},{124,132}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,35},{124,132}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{612,486},{104,146}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,32},{104,146}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{382,486},{122,136}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,34},{122,136}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>tornadomu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{450,226},{102,120}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,33},{102,120}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tornado.pvr.ccz</string>
            <key>size</key>
            <string>{986,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161234fa6076cdd8039c74413950e7e2$</string>
            <key>textureFileName</key>
            <string>tornado.pvr.ccz</string>
        </dict>
    </dict>
</plist>
