<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,88}}</string>
                <key>sourceSize</key>
                <string>{200,88}</string>
            </dict>
            <key>levelIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>tiparrowd.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>tiparrowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,148},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>tiparrowr.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,142},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>tiparrowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>uiChargeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,92},{54,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,35}}</string>
                <key>sourceSize</key>
                <string>{54,35}</string>
            </dict>
            <key>unionAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{157,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,34}}</string>
                <key>sourceSize</key>
                <string>{157,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.pvr.ccz</string>
            <key>size</key>
            <string>{240,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bc3fbce512c2eb6533271c3c7bd941d$</string>
            <key>textureFileName</key>
            <string>ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
