<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>antitankBoom (0).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{246,182}}</string>
			<key>offset</key>
			<string>{-2,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,62},{246,182}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{246,0},{164,142}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,60},{164,142}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,388},{188,202}}</string>
			<key>offset</key>
			<string>{5,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{188,202}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{188,388},{192,198}}</string>
			<key>offset</key>
			<string>{4,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{192,198}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{380,388},{192,200}}</string>
			<key>offset</key>
			<string>{3,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,2},{192,200}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{572,388},{186,178}}</string>
			<key>offset</key>
			<string>{7,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,24},{186,178}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{758,388},{186,164}}</string>
			<key>offset</key>
			<string>{7,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,38},{186,164}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,590},{186,166}}</string>
			<key>offset</key>
			<string>{7,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,36},{186,166}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{186,590},{188,170}}</string>
			<key>offset</key>
			<string>{7,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,32},{188,170}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{374,590},{184,172}}</string>
			<key>offset</key>
			<string>{6,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,30},{184,172}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{558,590},{184,174}}</string>
			<key>offset</key>
			<string>{6,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,28},{184,174}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{742,590},{184,178}}</string>
			<key>offset</key>
			<string>{6,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,24},{184,178}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{410,0},{166,170}}</string>
			<key>offset</key>
			<string>{-1,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,32},{166,170}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,768},{184,180}}</string>
			<key>offset</key>
			<string>{6,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,22},{184,180}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{184,768},{184,182}}</string>
			<key>offset</key>
			<string>{6,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,19},{184,182}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{368,768},{180,182}}</string>
			<key>offset</key>
			<string>{5,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,18},{180,182}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{548,768},{180,164}}</string>
			<key>offset</key>
			<string>{4,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,16},{180,164}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{576,0},{164,174}}</string>
			<key>offset</key>
			<string>{-1,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,28},{164,174}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{740,0},{184,180}}</string>
			<key>offset</key>
			<string>{-2,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,22},{184,180}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,182},{188,186}}</string>
			<key>offset</key>
			<string>{3,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,17},{188,186}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{188,182},{194,192}}</string>
			<key>offset</key>
			<string>{-3,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,10},{194,192}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{382,182},{188,200}}</string>
			<key>offset</key>
			<string>{-1,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,6},{188,200}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{570,182},{178,206}}</string>
			<key>offset</key>
			<string>{7,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,2},{178,206}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
		<key>antitankBoom (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{748,182},{186,202}}</string>
			<key>offset</key>
			<string>{6,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{186,202}}</string>
			<key>sourceSize</key>
			<string>{250,250}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>antitankBoom.png</string>
	</dict>
</dict>
</plist>
