<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>antiTankd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{76,69}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{76,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{76,69}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{76,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{80,345},{76,69}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{76,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,69}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,23},{94,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfl (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{90,69}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,23},{90,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{78,63}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{78,63}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{82,219},{76,63}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,26},{76,63}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{155,154},{74,63}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{74,63}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankflu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,219},{72,63}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,28},{72,63}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{88,71}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,23},{88,71}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{73,81},{88,71}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,23},{88,71}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{158,284},{72,69}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,26},{72,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{158,358},{70,69}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,26},{70,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{78,65}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,27},{78,65}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{75,154},{78,63}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,29},{78,63}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{74,77}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{74,77}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankfu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{163,69},{74,73}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{74,73}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,69}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,23},{94,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankld.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{78,63}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{78,63}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTanklu.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,154},{74,63}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{74,63}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{88,71}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,23},{88,71}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankrd.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,284},{72,69}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,26},{72,69}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTankru.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{78,65}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,27},{78,65}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>antiTanku.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{74,77}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{74,77}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antiTankF.png</string>
            <key>size</key>
            <string>{239,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d416123607865ab2f3f579c23778f735$</string>
            <key>textureFileName</key>
            <string>antiTankF.png</string>
        </dict>
    </dict>
</plist>
