<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airarmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,91},{215,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,80}}</string>
                <key>sourceSize</key>
                <string>{215,80}</string>
            </dict>
            <key>airarmyP.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{218,87}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,87}}</string>
                <key>sourceSize</key>
                <string>{234,87}</string>
            </dict>
            <key>armorarmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,565},{223,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,78}}</string>
                <key>sourceSize</key>
                <string>{223,78}</string>
            </dict>
            <key>armorarmyP.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,565},{226,85}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,85}}</string>
                <key>sourceSize</key>
                <string>{242,85}</string>
            </dict>
            <key>armyback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,533}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>armyinfoback.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,739},{260,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,378}}</string>
                <key>sourceSize</key>
                <string>{260,378}</string>
            </dict>
            <key>armykuangbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,537},{503,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,19}}</string>
                <key>sourceSize</key>
                <string>{503,19}</string>
            </dict>
            <key>armykuangleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,649},{25,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,331}}</string>
                <key>sourceSize</key>
                <string>{25,331}</string>
            </dict>
            <key>armykuangright.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,649},{20,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,331}}</string>
                <key>sourceSize</key>
                <string>{20,331}</string>
            </dict>
            <key>armykuangtop.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,645},{574,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,92}}</string>
                <key>sourceSize</key>
                <string>{574,92}</string>
            </dict>
            <key>armyreturnbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,558},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>armyreturnbuttonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,558},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>armystar.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,537},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>armystrenthendivide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,173},{474,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,4}}</string>
                <key>sourceSize</key>
                <string>{474,4}</string>
            </dict>
            <key>armystrenthenempty.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,537},{94,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,85}}</string>
                <key>sourceSize</key>
                <string>{94,85}</string>
            </dict>
            <key>armyzhengbingbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,880},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>armyzhengbingbuttonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,804},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>armyzhengbingcardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,739},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>armyzhengbinglingqubutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,804},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>armyzhengbinglingqubuttonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,728},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>armyzhengbingreturnbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,652},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>armyzhengbingreturnbuttonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,558},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>banyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{145,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,476}}</string>
                <key>sourceSize</key>
                <string>{145,476}</string>
            </dict>
            <key>groundarmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,272},{207,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,93}}</string>
                <key>sourceSize</key>
                <string>{207,93}</string>
            </dict>
            <key>groundarmyP.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,173},{209,97}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,97}}</string>
                <key>sourceSize</key>
                <string>{225,101}</string>
            </dict>
            <key>quitarmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,982},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>quitarmyP.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,982},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>totalarmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,467},{194,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,96}}</string>
                <key>sourceSize</key>
                <string>{194,96}</string>
            </dict>
            <key>totalarmyP.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,367},{195,98}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,98}}</string>
                <key>sourceSize</key>
                <string>{211,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armyui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:764e50d6add99f96ac03b9323e2885e8$</string>
            <key>textureFileName</key>
            <string>armyui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
