<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armycardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,189}</string>
            </dict>
            <key>armycardbeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,189}</string>
            </dict>
            <key>armycardflop (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{88,179}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{88,179}}</string>
                <key>sourceSize</key>
                <string>{126,189}</string>
            </dict>
            <key>armycardflop (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{40,189}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{40,189}}</string>
                <key>sourceSize</key>
                <string>{126,189}</string>
            </dict>
            <key>armycardflop (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,175},{66,183}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{66,183}}</string>
                <key>sourceSize</key>
                <string>{126,189}</string>
            </dict>
            <key>armycardflop (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{104,171}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{104,171}}</string>
                <key>sourceSize</key>
                <string>{126,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armycardflop.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:193d6360404f7e6959f622a1a7f478b4$</string>
            <key>textureFileName</key>
            <string>armycardflop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
