<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing1dd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{294,194},{46,42}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{46,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1dl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{168,236},{62,45}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,56},{62,45}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>bubing1dld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,290},{54,51}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{54,51}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>bubing1dlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{364,154},{68,40}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,41},{68,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1dr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,36},{58,32}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{58,32}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1drd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{434,154},{58,40}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{58,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1dru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,196},{42,42}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{42,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1du (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{202,192},{42,44}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{42,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{424,72},{44,38}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{44,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{44,40}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{44,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{42,38}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{42,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fl (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{470,72},{40,38}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{40,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{348,110},{40,40}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{40,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{40,40}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{40,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1flu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,112},{48,40}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{48,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1flu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{48,146},{46,40}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{46,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{198,36},{44,34}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{44,34}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,36},{44,34}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{44,34}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1frd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{302,110},{44,40}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,41},{44,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1frd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{440,112},{46,40}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{46,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{336,72},{36,38}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,39},{36,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{296,72},{36,38}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,39},{36,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,44}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,35},{32,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1fu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,196},{46,44}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,35},{46,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1md (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{386,196},{42,44}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,37},{42,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1md (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{348,294},{52,52}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{52,52}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1md (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{394,242},{60,50}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{60,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1md (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{244,36},{34,46}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,37},{34,46}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1md (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,294},{60,52}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,34},{60,52}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1md (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{340,240},{52,48}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{52,48}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1md (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{456,242},{54,50}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{54,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1ml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{32,44}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,33},{32,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1ml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,36},{34,42}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{34,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1ml (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{32,54}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{32,54}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1ml (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{32,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{32,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1ml (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{46,106},{38,56}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{38,56}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1ml (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,148},{40,64}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{40,64}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1ml (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{44,62}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{44,62}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{34,62}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{34,62}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{400,36},{34,62}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,34},{34,62}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{336,36},{34,62}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,33},{34,62}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mld (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{38,60}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,36},{38,60}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mld (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,150},{40,60}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,36},{40,60}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mld (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{32,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{32,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mld (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{66,70},{34,60}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,36},{34,60}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{50,50}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{50,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{54,280},{56,50}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{56,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mlu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{168,283},{50,56}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{50,56}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mlu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{162,148},{40,50}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,31},{40,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mlu (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,190},{42,54}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,32},{42,54}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mlu (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,190},{42,50}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,31},{42,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mlu (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,332},{56,52}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{56,52}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,72},{34,40}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{34,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{48,36},{32,42}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{32,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{32,40}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,34},{32,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mr (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{464,36},{34,40}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{34,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mr (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,72},{34,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{34,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mr (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{32,40}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{32,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mr (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{32,40}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{32,40}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{320,152},{40,42}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{40,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{66,234},{50,44}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{50,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,152},{40,42}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,34},{40,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mrd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{48,188},{44,42}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{44,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mrd (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,72},{36,38}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,37},{36,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mrd (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{44,42}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,34},{44,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mrd (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,108},{46,38}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{46,38}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{32,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{32,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{32,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{32,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,44}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{32,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mru (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{210,72},{34,44}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{34,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mru (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,110},{38,44}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{38,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mru (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{32,42}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,33},{32,42}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mru (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,194},{42,44}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{42,44}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,234},{44,48}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,29},{44,48}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{376,72},{36,46}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{36,46}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{56,52}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{56,52}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,280},{50,54}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,30},{50,54}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mu (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,238},{46,50}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{46,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mu (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{284,238},{54,46}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{54,46}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>bubing1mu (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{226,286},{64,50}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{64,50}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubing1.pvr.ccz</string>
            <key>size</key>
            <string>{512,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:401578936a801a45fe2a9f5d80ae1e54$</string>
            <key>textureFileName</key>
            <string>bubing1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
