<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Recycling.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{190,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,165}}</string>
                <key>sourceSize</key>
                <string>{190,165}</string>
            </dict>
            <key>by7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>cellar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>combineWall1x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{177,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,128}}</string>
                <key>sourceSize</key>
                <string>{177,128}</string>
            </dict>
            <key>combineWall5x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,574},{173,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,125}}</string>
                <key>sourceSize</key>
                <string>{173,125}</string>
            </dict>
            <key>communication.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,204},{202,225}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,225}}</string>
                <key>sourceSize</key>
                <string>{210,225}</string>
            </dict>
            <key>communicationDestroy.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,408},{192,164}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,164}}</string>
                <key>sourceSize</key>
                <string>{222,164}</string>
            </dict>
            <key>diaobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,931},{109,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,408},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>jammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,878},{113,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,155}}</string>
                <key>sourceSize</key>
                <string>{113,155}</string>
            </dict>
            <key>kc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{188,180}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{224,180}</string>
            </dict>
            <key>position.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,749},{180,119}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{180,119}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>superKC.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,731},{156,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>superYT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{129,146}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{129,146}}</string>
                <key>sourceSize</key>
                <string>{133,146}</string>
            </dict>
            <key>wall1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,365},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>wall1lr.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,473},{48,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>wall1ud.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,419},{52,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>yt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,574},{180,155}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{180,155}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>zhs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,209}}</string>
                <key>sourceSize</key>
                <string>{240,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildings.pvr.ccz</string>
            <key>size</key>
            <string>{503,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c064481dec83c8041176b4d177887a25$</string>
            <key>textureFileName</key>
            <string>buildings.pvr.ccz</string>
        </dict>
    </dict>
</plist>
