<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Calliopedd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{53,79}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{53,79}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopedl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{117,57},{85,67}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{85,67}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopedld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{89,73}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{89,73}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopedlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{87,203},{83,81}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{83,81}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopedr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{291,65},{85,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{85,71}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopedrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{83,79}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{83,79}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopedru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{172,211},{89,81}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{89,81}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopedu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{53,81}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,8},{53,81}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopefd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,73}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,16},{41,73}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopefl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{81,69}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{81,69}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopefld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{269,138},{83,79}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{83,79}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopeflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{83,85}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{83,85}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopefr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,57},{85,71}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{85,71}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopefrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,130},{83,79}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{83,79}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopefru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{263,219},{83,85}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{83,85}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopefu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{41,79}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{41,79}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,85},{71,89}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{71,89}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{93,126},{75,89}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{75,89}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopeml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{354,158},{117,77}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{117,77}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopeml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,237},{119,79}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{119,79}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{87,294},{107,79}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{107,79}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{196,304},{111,81}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{111,81}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{109,109}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{109,109}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{113,474},{109,113}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{115,83}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{115,83}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{119,387},{117,85}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{117,85}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{424,318},{113,81}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{113,81}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{309,318},{113,81}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{113,81}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{238,401},{99,107}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{99,107}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{347,433},{101,111}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{61,109}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,5},{61,109}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>Calliopemu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{61,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{61,113}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Calliope.pvr.ccz</string>
            <key>size</key>
            <string>{507,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39a2c57a94069905b4e9cd222030b6d$</string>
            <key>textureFileName</key>
            <string>Calliope.pvr.ccz</string>
        </dict>
    </dict>
</plist>
