<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JosephAllen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{337,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,427}}</string>
                <key>sourceSize</key>
                <string>{337,427}</string>
            </dict>
            <key>dialogLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{30,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,8}}</string>
                <key>sourceSize</key>
                <string>{30,8}</string>
            </dict>
            <key>nameKuangCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,431},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>nameKuangLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>nameKuangRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,431},{20,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,63}}</string>
                <key>sourceSize</key>
                <string>{20,63}</string>
            </dict>
            <key>nextTipCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,483},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>nextTipHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,431},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>whiteImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,431},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>campaignSheet.png</string>
            <key>size</key>
            <string>{341,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2caf0c9f2f3a62c62f3668f45dc84c9$</string>
            <key>textureFileName</key>
            <string>campaignSheet.png</string>
        </dict>
    </dict>
</plist>
