<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilcollectSpeedIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,193},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>armyBuildingButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{172,62}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,62}}</string>
                <key>sourceSize</key>
                <string>{190,62}</string>
            </dict>
            <key>armyBuildingButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,86},{190,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,62}}</string>
                <key>sourceSize</key>
                <string>{190,62}</string>
            </dict>
            <key>attackRangeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,351},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>attackRangeTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>attackRateIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,351},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>cellarIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,350},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>conversionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,410},{94,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,43}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>conversionButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>conversionCheckBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,277},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>conversionCheckBoxMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,237},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>conversionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,150},{59,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,41}}</string>
                <key>sourceSize</key>
                <string>{59,41}</string>
            </dict>
            <key>costCoolIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,317},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>creatorLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>creatordetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,307},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>creatordetailp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>damageIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,307},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>electrification.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,350},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>healthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,474},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>huodongButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,409},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>ironCapacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,348},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>ironCollectSpeedIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>jamRangeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,314},{35,33}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{35,33}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>nameKuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,193},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>nameKuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,53},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>oilCapacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,277},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>oneKeyUpdateNextBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,81},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>oneKeyUpdateNextIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,121},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>ornamentBuildingButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{163,68}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,68}}</string>
                <key>sourceSize</key>
                <string>{181,68}</string>
            </dict>
            <key>ornamentBuildingButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,223},{181,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,68}}</string>
                <key>sourceSize</key>
                <string>{181,68}</string>
            </dict>
            <key>recyclingIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,237},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>resourceBuildingButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,237},{171,67}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,67}}</string>
                <key>sourceSize</key>
                <string>{189,71}</string>
            </dict>
            <key>resourceBuildingButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,150},{189,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,71}}</string>
                <key>sourceSize</key>
                <string>{189,71}</string>
            </dict>
            <key>sellButtonLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,47},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>speedIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{41,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,31}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>totalBuildingButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,406},{166,66}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>totalBuildingButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,223},{184,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>underline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{331,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,2}}</string>
                <key>sourceSize</key>
                <string>{331,2}</string>
            </dict>
            <key>updateButtonLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,53},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>updateIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>updateTipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,133},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createui.pvr.ccz</string>
            <key>size</key>
            <string>{511,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad04b2c3b2b4ccd467de23ee1e6d9795$</string>
            <key>textureFileName</key>
            <string>createui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
