<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armystar.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,255},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>deployCardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{140,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,167}}</string>
                <key>sourceSize</key>
                <string>{140,167}</string>
            </dict>
            <key>deployback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{825,637}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,637}}</string>
                <key>sourceSize</key>
                <string>{825,637}</string>
            </dict>
            <key>metalButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,518},{101,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,63}}</string>
                <key>sourceSize</key>
                <string>{101,63}</string>
            </dict>
            <key>metalButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,453},{101,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,63}}</string>
                <key>sourceSize</key>
                <string>{101,63}</string>
            </dict>
            <key>quitdeploy.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,248},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>quitdeployp.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,210},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>searchEnemyByLocation.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,144},{137,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,109}}</string>
                <key>sourceSize</key>
                <string>{137,109}</string>
            </dict>
            <key>searchEnemyByNickname.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,255},{141,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,101}}</string>
                <key>sourceSize</key>
                <string>{141,101}</string>
            </dict>
            <key>searchEnemyLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,144},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>searchIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,565},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>startfight.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,398},{165,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,60}}</string>
                <key>sourceSize</key>
                <string>{165,60}</string>
            </dict>
            <key>startfightp.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,286},{165,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,60}}</string>
                <key>sourceSize</key>
                <string>{165,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deployui.pvr.ccz</string>
            <key>size</key>
            <string>{1006,641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4581485803da863bca2d3fc3dca4c917$</string>
            <key>textureFileName</key>
            <string>deployui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
