<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firelightd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,96},{30,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{30,46}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{20,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{20,52}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{60,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{60,32}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightl (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,34},{70,18}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{22,96},{42,36}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{42,36}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{22,56},{48,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{48,38}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,82},{42,32}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{42,32}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,216},{50,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{50,36}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{56,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{56,26}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{66,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{66,18}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,180},{38,30}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{38,30}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{46,34}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{34,30}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{34,30}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,144},{44,34}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{44,34}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{72,38},{40,42}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{40,42}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>firelightu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{38,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{38,56}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firelight.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a20f1256688d30308262a1af6884f58$</string>
            <key>textureFileName</key>
            <string>firelight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
