<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M3HalfTrackdd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{59,100}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{59,100}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackdl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{385,91},{117,56}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{117,56}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackdld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{105,86}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{105,86}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackdlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,412},{101,74}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{101,74}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackdr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{266,65},{117,60}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{117,60}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackdrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{109,394},{101,92}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{101,92}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackdru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{109,316},{105,76}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{105,76}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackdu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,351},{59,76}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,6},{59,76}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>M3HalfTrackfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{103,488},{45,93}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,20},{45,93}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{343,244},{109,59}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{109,59}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,366},{103,87}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{103,87}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{321,419},{99,79}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{99,79}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{325,305},{105,55}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{105,55}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{99,87}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{99,87}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{212,455},{99,73}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{99,73}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{313,500},{45,85}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,4},{45,85}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{119,164},{57,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{57,111}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{250,127},{59,111}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{59,111}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,65}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{131,65}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{129,67}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{129,67}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{113,87}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{113,87}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,188},{109,89}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{109,89}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{111,223},{105,91}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{105,91}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{363,149},{109,93}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,93}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{129,61}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{129,61}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{129,63}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{129,63}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{133,71},{115,91}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{115,91}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{115,87}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{115,87}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{218,279},{105,85}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{105,85}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{107,87}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{107,87}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{325,362},{55,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{55,105}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
            <key>M3HalfTrackmu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,244},{55,105}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{55,105}}</string>
                <key>sourceSize</key>
                <string>{143,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>M3HalfTrack.pvr.ccz</string>
            <key>size</key>
            <string>{512,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6187d9a232ed1030f38462e894b1a22$</string>
            <key>textureFileName</key>
            <string>M3HalfTrack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
