<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M5Stuartbp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,237}}</string>
                <key>sourceSize</key>
                <string>{250,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>M5Stuartbp.pvr.ccz</string>
            <key>size</key>
            <string>{254,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac840e188bc2648a908062eac6679a9$</string>
            <key>textureFileName</key>
            <string>M5Stuartbp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
