<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panzergrenadierdd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{32,38}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{32,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierdl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,20}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,39},{56,20}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierdld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{230,36},{48,36}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,19},{48,36}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierdlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{54,28}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,49},{54,28}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierdr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,26}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{56,26}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierdrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{58,32}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{58,32}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierdru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{46,34}}</string>
                <key>offset</key>
                <string>{-24,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,50},{46,34}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierdu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{28,34}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,58},{28,34}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{372,36},{36,42}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{36,42}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,106},{44,40}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{44,40}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{30,40}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,26},{30,40}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{222,156},{40,46}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,15},{40,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfl (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{394,204},{56,46}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{56,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfl (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{230,74},{52,38}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{52,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,68},{36,46}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{36,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,156},{42,48}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{42,48}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{280,36},{42,36}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{42,36}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{416,38},{36,48}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{36,48}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierflu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{452,204},{48,46}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{48,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierflu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{110,148},{40,52}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{40,52}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{466,38},{36,38}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,22},{36,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{284,74},{46,38}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{46,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{46,46}}</string>
                <key>offset</key>
                <string>{25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,18},{46,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{34,38}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,20},{34,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{42,30},{48,34}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{48,34}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{42,66},{36,44}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,23},{36,44}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,32},{34,44}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,17},{34,44}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,68},{36,46}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,13},{36,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{44,48}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,5},{44,48}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{138,32},{34,48}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,14},{34,48}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{40,48}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierfu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,74},{38,54}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{50,188},{46,44}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{46,44}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,70},{44,38}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{44,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{320,156},{46,42}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{46,42}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,106},{42,38}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{42,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{434,116},{40,50}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,8},{40,50}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{382,116},{40,50}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,9},{40,50}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierml (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,114},{40,50}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{40,50}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadierml (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,76},{38,52}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{46,44}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{46,44}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{280,114},{48,40}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{48,40}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{368,158},{50,42}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{50,42}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermld (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{420,158},{48,44}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{48,44}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{50,236},{46,54}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,6},{46,54}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{164,152},{40,56}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{40,56}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermlu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{226,114},{40,52}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{40,52}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermlu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{52,146},{40,56}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{40,56}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{38,42}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{38,42}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{42,104},{38,44}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,17},{38,44}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{388,76},{42,38}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{42,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermr (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{188,34},{34,40}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,17},{34,40}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{324,36},{36,46}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,15},{36,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{32,42}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,16},{32,42}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{38,38}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{38,38}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermrd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{32,36}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,17},{32,36}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{148,194},{44,44}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,15},{44,44}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{242,200},{44,46}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{194,198},{44,46}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{44,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermru (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,110},{40,46}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{40,46}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{158,244},{46,50}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,10},{46,50}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{106,240},{46,50}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,10},{46,50}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,202},{44,50}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,10},{44,50}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>Panzergrenadiermu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,200},{44,50}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,9},{44,50}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Panzergrenadier.pvr.ccz</string>
            <key>size</key>
            <string>{506,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a2568309545c2a9e15f5360a805f056$</string>
            <key>textureFileName</key>
            <string>Panzergrenadier.pvr.ccz</string>
        </dict>
    </dict>
</plist>
