<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rockettaild (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,104},{15,16}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{15,16}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>rockettaild (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{53,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>rockettaild (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,112},{37,46}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>rockettaill (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,58},{15,18}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{15,18}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>rockettaill (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{157,97},{57,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{57,56}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>rockettaill (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{61,34}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{61,34}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>rockettailld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{18,20}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{18,20}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>rockettailld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,57},{30,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{30,28}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>rockettailld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,122},{46,40}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{46,40}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>rockettaillu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,87},{17,15}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{17,15}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>rockettaillu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,65},{59,55}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{59,55}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>rockettaillu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{61,122},{49,51}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{49,51}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>rockettailr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,94},{16,17}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,22},{16,17}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>rockettailr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{70,61}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{70,61}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>rockettailr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,53}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{94,53}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>rockettailrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,75},{17,17}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{17,17}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>rockettailrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{57,57}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>rockettailrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{207,160},{49,45}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{49,45}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>rockettailru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,41},{18,15}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{18,15}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>rockettailru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{60,57}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,57}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>rockettailru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{57,175},{54,45}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{54,45}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>rockettailu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,22},{18,17}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{18,17}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>rockettailu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,38},{60,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{60,57}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>rockettailu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{154,155},{36,51}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{36,51}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rockettail.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af94e230c3d2407dde9dbf7bacf248c3$</string>
            <key>textureFileName</key>
            <string>rockettail.pvr.ccz</string>
        </dict>
    </dict>
</plist>
