<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thordd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{130,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{130,72}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thordl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,502},{90,90}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{90,90}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thordld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{136,78}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,78}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thordlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,692},{100,98}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{100,98}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thordr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,502},{90,90}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{90,90}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thordrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{288,792},{100,102}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{100,102}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thordru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,238},{134,80}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{134,80}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thordu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{140,158},{130,78}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{130,78}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{234,238},{74,80}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{74,80}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,412},{76,88}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{92,90}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{94,78}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{94,78}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{82,88}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,502},{94,90}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,78},{94,78}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{94,78}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,66}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{70,66}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{164,412},{82,88}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{82,88}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,324},{82,86}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{82,86}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{104,792},{84,98}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{84,98}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,412},{80,88}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{80,88}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{190,502},{86,90}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,238},{74,84}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorml (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,594},{88,96}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{88,96}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thorml (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,594},{74,92}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{74,92}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{364,692},{104,98}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{360,324},{92,86}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{190,792},{96,102}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{96,102}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormld (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,594},{96,96}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{362,158},{96,78}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{96,78}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{282,78},{94,76}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{94,76}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormlu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{82,324},{92,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{92,84}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormlu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{94,74}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{94,74}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{82,96}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{172,594},{86,94}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,692},{78,96}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{78,96}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormr (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{78,84}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,1},{78,84}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{176,324},{98,86}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{100,98}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,692},{94,98}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormrd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{94,90}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,412},{98,88}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{98,88}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{96,76}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{96,76}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{310,238},{94,82}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{94,82}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormru (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,78},{96,76}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{96,76}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,158},{88,78}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{88,78}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{74,68}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{74,68}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{100,78},{82,76}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>thormu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{78,74}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{78,74}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thor.pvr.ccz</string>
            <key>size</key>
            <string>{482,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc53d3e4f09f4a8300caa8a5fdc9b1f$</string>
            <key>textureFileName</key>
            <string>thor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
