<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tigerdd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{369,314},{111,94}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{111,94}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerdl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{383,226},{121,86}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{121,86}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerdld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{137,84}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{137,84}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerdlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{119,96}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{119,96}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerdr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{202,142},{121,80}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{121,80}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerdrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{724,321},{119,94}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{119,94}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerdru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{506,226},{137,86}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{137,86}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerdu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{877,149},{113,82}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{113,82}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{69,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,30},{69,82}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{69,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,30},{69,82}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{67,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,30},{67,80}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{139,70}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{139,70}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfl (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{143,70},{141,70}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{141,70}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfl (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{286,70},{131,70}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{131,70}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{141,224},{117,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{117,84}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,226},{121,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{121,84}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{760,149},{115,82}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{115,82}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{603,321},{119,94}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{119,94}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerflu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{482,314},{119,94}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{119,94}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerflu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{139,310},{115,92}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{115,92}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,66}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{139,66}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{141,66}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{141,66}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{131,66}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{131,66}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{645,233},{115,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{115,86}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{762,233},{117,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{117,86}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{645,147},{113,82}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{113,82}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{845,323},{115,94}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{115,94}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{123,404},{117,96}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{117,96}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,312},{111,92}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{111,92}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{67,102}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,3},{67,102}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{67,104}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,1},{67,104}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerfu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{67,100}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,5},{67,100}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{77,96}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{77,96}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{100,142},{79,100}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,10},{79,100}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{325,144},{155,80}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{155,80}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigerml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{482,144},{161,80}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{161,80}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{135,90}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{135,90}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{242,410},{139,94}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{139,94}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{522,417},{129,108}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{129,108}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{127,114}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{127,114}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{695,73},{163,72}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{163,72}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{860,73},{155,74}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{155,74}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{881,233},{133,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{133,88}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{383,410},{137,96}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{137,96}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{653,417},{129,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{129,112}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{784,419},{135,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{135,112}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{419,71},{71,142}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{71,142}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tigermu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{563,71},{71,130}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{71,130}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiger.pvr.ccz</string>
            <key>size</key>
            <string>{1017,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2017a6424bf4c71252e762f326f3f9e4$</string>
            <key>textureFileName</key>
            <string>tiger.pvr.ccz</string>
        </dict>
    </dict>
</plist>
