<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIDialogCommon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,38},{553,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,46}}</string>
                <key>sourceSize</key>
                <string>{553,46}</string>
            </dict>
            <key>uiDialogBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{440,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,415}}</string>
                <key>sourceSize</key>
                <string>{440,415}</string>
            </dict>
            <key>uiDialogCancelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,8},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>uiDialogCancelButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>uiDialogCommon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{31,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,196}}</string>
                <key>sourceSize</key>
                <string>{31,196}</string>
            </dict>
            <key>uiDialogCommon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{83,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,12}}</string>
                <key>sourceSize</key>
                <string>{83,12}</string>
            </dict>
            <key>uiDialogCommonGear.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,35},{144,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,111}}</string>
                <key>sourceSize</key>
                <string>{144,111}</string>
            </dict>
            <key>uiDialogCommonKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,38},{654,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,17}}</string>
                <key>sourceSize</key>
                <string>{654,17}</string>
            </dict>
            <key>uiDialogCommonLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,4}}</string>
                <key>sourceSize</key>
                <string>{172,4}</string>
            </dict>
            <key>uiDialogMetalCorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,16},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>uiDialogNormalCorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>uiDialogZhijiaoCorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,8},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiDialogCommon.pvr.ccz</string>
            <key>size</key>
            <string>{511,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fedc6107718e99b2c58550aae08f4b31$</string>
            <key>textureFileName</key>
            <string>uiDialogCommon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
