<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>memberIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,524},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>searchIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,516},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>unionCommonCloseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>unionCommonCloseButtonP.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,524},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>unionCommonDown</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,29}}</string>
                <key>sourceSize</key>
                <string>{411,29}</string>
            </dict>
            <key>unionCommonSingleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,566},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>unionCommonSingleButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,535},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>unionCommonUp</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{410,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,54}}</string>
                <key>sourceSize</key>
                <string>{410,54}</string>
            </dict>
            <key>unionCreateUnion.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,356},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>unionCreateUnionP.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,238},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>unionInfoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{147,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{147,57}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionInfoButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,179},{175,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,65}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionJoinJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{155,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,51}</string>
            </dict>
            <key>unionJoinJoinP.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,209},{155,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,51}</string>
            </dict>
            <key>unionJoinUnion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{127,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,57}}</string>
                <key>sourceSize</key>
                <string>{127,57}</string>
            </dict>
            <key>unionJoinUnionP.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,465},{127,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,57}}</string>
                <key>sourceSize</key>
                <string>{127,57}</string>
            </dict>
            <key>unionJoinWatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{155,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,51}</string>
            </dict>
            <key>unionJoinWatchP.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,156},{155,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,51}</string>
            </dict>
            <key>unionManagerAppointmentButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{136,46}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,46}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>unionManagerAppointmentButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,416},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>unionManagerButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,470},{147,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{147,57}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionManagerButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,89},{175,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,65}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionMemberButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,367},{147,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{147,57}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionMemberButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{175,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,65}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionMessageAnnouncementButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,417},{136,46}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,46}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>unionMessageAnnouncementButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,315},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>unionMessageButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,89},{147,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{147,57}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionMessageButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{175,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,65}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>unionOperateButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,369},{136,46}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,46}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>unionOperateButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>unionSureButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,262},{155,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,51}</string>
            </dict>
            <key>unionSureButtonP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unionUI.pvr.ccz</string>
            <key>size</key>
            <string>{511,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:107c9c85bbeb48a80bb67da1d37243b4$</string>
            <key>textureFileName</key>
            <string>unionUI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
