<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Volksgrenadierdd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{206,464},{36,38}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{36,38}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierdl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{224,192},{52,28}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{52,28}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierdld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,460},{44,34}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,27},{44,34}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierdlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{198,390},{44,32}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{44,32}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierdr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{230,98},{48,24}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{48,24}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierdrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{224,148},{42,30}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{42,30}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierdru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{44,32}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{44,32}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierdu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{206,424},{38,38}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{38,38}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{50,420},{38,46}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{38,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{162,290},{38,50}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{38,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{56,54}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfl (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{50,56}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{50,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,58},{54,50}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{54,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,146},{50,52}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{50,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{42,52}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{42,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierflu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,82},{40,54}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,150},{48,52}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{48,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{46,48}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{56,250},{38,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{110,286},{38,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{38,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{46,50}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,98},{46,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{46,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,60}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierfu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{38,58}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,414},{38,46}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{38,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{48,460},{38,44}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{202,348},{40,46}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{38,44}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{54,290},{48,46}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{48,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{164,246},{42,50}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{42,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierml (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{40,46}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadierml (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{50,378},{40,46}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,458},{38,42}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,458},{40,42}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{40,42}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermld (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,376},{38,46}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{38,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermld (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,416},{40,42}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{40,42}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{168,198},{46,52}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,200},{44,52}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermlu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{42,52}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{42,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermlu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,164},{44,52}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{44,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{104,326},{44,48}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{44,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{110,246},{38,52}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{38,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermr (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{52,338},{38,48}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{38,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermr (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,246},{38,50}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{38,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{154,330},{44,46}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{44,46}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermrd (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,298},{40,48}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{40,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermrd (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{102,372},{40,46}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{38,54}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{38,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,124},{38,54}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermru (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,110},{38,54}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{38,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermru (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{56,210},{38,52}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{38,52}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,42},{38,56}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{38,56}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{42,54}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Volksgrenadiermu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{182,54},{42,56}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Volksgrenadier.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbc08eda94c37424f09d5037ef27497e$</string>
            <key>textureFileName</key>
            <string>Volksgrenadier.pvr.ccz</string>
        </dict>
    </dict>
</plist>
