<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WillysMBdd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{45,60}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{45,60}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBdl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{63,46}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{63,46}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBdld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{215,50},{61,54}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{61,54}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBdlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{63,46}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{63,46}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBdr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,44}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{63,44}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBdrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{59,50}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{59,50}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBdru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{61,46}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{61,46}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBdu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{45,48}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,21},{45,48}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBfd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{47,70}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,5},{47,70}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBfl (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,50},{77,52}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{77,52}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBfld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{388,120},{79,66}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{79,66}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBflu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,50},{73,58}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{73,58}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBfr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{63,49},{71,50}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{71,50}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBfrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{76,166},{73,68}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{73,68}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBfru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{353,51},{77,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{77,58}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBfu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{47,54}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,16},{47,54}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,51},{67,74}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{67,74}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{67,72}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBml (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{101,104},{97,60}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{97,60}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBml (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{97,58}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{97,58}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmld (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{326,188},{91,70}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{91,70}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmld (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{419,188},{89,72}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{89,72}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmlu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{371,262},{89,80}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{89,80}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmlu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{89,82}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{89,82}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmr (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{200,110},{91,62}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{91,62}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmr (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{293,111},{93,64}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{93,64}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmrd (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{97,244},{93,72}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{93,72}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmrd (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{151,174},{93,68}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{93,68}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmru (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{93,72}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{93,72}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmru (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{274,260},{95,76}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{95,76}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmu (0).png</key>
            <dict>
                <key>frame</key>
                <string>{{246,177},{69,78}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{69,78}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>WillysMBmu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{192,248},{73,80}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,13},{73,80}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WillysMB.pvr.ccz</string>
            <key>size</key>
            <string>{510,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eb70e8f6352c8aef279b32b5037ade1$</string>
            <key>textureFileName</key>
            <string>WillysMB.pvr.ccz</string>
        </dict>
    </dict>
</plist>
